#mainHero {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

.Nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  align-items: center;
}

.mainNavComps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.navItem:hover {
  color: rgb(199, 200, 204);
}

.rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hamburgerMenu {
  color: white;
}

.centerConsole {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-top: 10vh;
}

.centerConsole h1 {
  font-weight: 900;
  color: white;
  font-size: 40px;
}

.centerConsole button {
  width: 14vw;
  height: 4vh;
  border-radius: 3vw;
  box-shadow: none;
  border: none;
  margin: 1vh;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

#customOrder {
  color: black;
  background-color: white;
}

#existingInventory {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-color: white;
  transition: all 0.5s;
}

#existingInventory:hover {
  color: black;
  background-color: white;
}

.centerConsole p {
  color: white;
  border: solid;
  border-color: white;
  border-width: 0px;
  border-bottom-width: 1px;
  font-size: 14px;
  cursor: pointer;
}
.centerConsole p:hover {
  border-bottom-width: 2px;
}

.model3Header ol {
  list-style-type: decimal;
}

.model3Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(223, 223, 223);
  padding-left: 2vw;
  padding-right: 2vw;
}

.model3HeaderNavMain ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.model3HeaderNavMain li {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.model3HeaderNavMain a {
  text-decoration: none;
  color: black;
}

#teslaLogo {
  height: 1.3vh;
}

#americanFlag {
  height: 1.8vh;
}

.model3HeaderLeftDiv {
  width: 10vw;
}

.model3HeaderRightDiv {
  width: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.model3BatteryHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
}

.leftModel3Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65vw;
}

.leftModel3Hero img {
  width: 65vw;
  background-color: aqua;
}

#leftModel3Bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#leftModel3Bottom div {
  margin-left: 1vw;
  margin-right: 1vw;
}

#dividerDiv {
  width: 0.07vw;
  height: 8vh;
  background-color: rgb(223, 223, 223);
}

.rightModel3Hero {
  
}
